.nav-a {
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.nav-a:hover, .nav-a:focus {

	background-color: rgba(255, 255, 255, 0.35) !important;
}
.nav-ul a {
	color: black !important;
}
#header {
	left: 0;
	top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
	background-color: rgba(0, 0, 0, 0.75);
}
#header a {
	color: white;
}
#title {
	font-size: 4em;
}
#container {
	margin-top: 50px;
}
#title>span {
	top: 0.1em;
}
#nav-bar {
	padding-left: 20px;
}
.table_header {
	margin-bottom: 10px;
	font-size: 1.2em;
	text-align: center;
	display: block;
	width: 100%;
}
.table_block {
	margin-top: 3em;
	width: 70%;
	text-align: left;
	display: inline-block;
}
.table_button {
	font-size: 0.5em;
	padding: 3px 6px;
} 
#profession_setting, #overtime_setting, #staff_manage, #allowance, #attendance, #salary, #bonus {
	text-align: center;
}

#profession_add, #overtime_add, #staff_add, #allowance_add, #attendance_add {
	position: fixed;
	bottom: 30px;
	right: 30px;
	font-size: 1.5em;
}
#overtime_setting .table_block {
	width: 60%;
}
#a_time_form {
	text-align: center;
}
#a_time_form > div {
	width: 100%;
	display: inline-block;
}
.my-c-btn {
	margin:0 2%;
}